//### Primary

$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);

//### Neutral

$Dark-Grayish-Red: hsl(0, 6%, 24%);

//### Gradients
// Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

$medium: 1180px;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)),
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: $Desaturated-Red;
}

.card {
  max-width: 350px;

  .container {
    margin: 30px;
  }

  .mobile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 35px;
  }
  .desktop-img {
    display: none;
  }

  #content {
    text-align: center;
    h1 {
      padding: 0 20px;
      margin-bottom: 25px;
      font-size: 2.3rem;
      letter-spacing: 10px;
      text-transform: uppercase;
      color: $Dark-Grayish-Red;
      span {
        font-weight: 300;
        color: $Desaturated-Red;
      }
    }
    p {
      font-size: 0.85rem;
      line-height: 1.4;
    }
    .email {
      position: relative;
      margin: 40px 0;
      z-index: 1;
      input {
        width: 100%;
        padding: 15px 20px;
        border: 1px solid $Desaturated-Red;
        border-radius: 50px;
        outline: none;
        color: $Dark-Grayish-Red;
        &::placeholder {
          color: $Desaturated-Red;
        }
      }
      .error-text {
        position: absolute;
        display: none;
        padding: 5px 20px;
        font-size: 0.8rem;
        text-align: left;
        color: $Soft-Red;
      }
      .btn {
        position: absolute;
        top: 50%;
        right: 0;
        height: 100%;
        width: 65px;
        transform: translateY(-50%);
        border-radius: 30px;
        border: none;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

        &:active {
          opacity: 0.7;
        }
      }
      &.error {
        input {
          border-color: $Soft-Red;
        }

        .error-text {
          display: block;
        }

        &::after {
          content: '';
          position: absolute;
          right: 70px;
          bottom: 12px;
          width: 24px;
          height: 24px;
          background-image: url('../images/icon-error.svg');
          z-index: 1;
        }
      }
    }
  }
}

@media (min-width: $medium) {
  .card {
    position: relative;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'logo hero'
      'main hero';
    justify-items: end;
    align-items: stretch;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/bg-pattern-desktop.svg');
      z-index: -1;
    }

    .mobile-img {
      display: none;
    }

    #logo {
      text-align: left;
      grid-area: logo;
      justify-content: start;
      width: 450px;
      margin: 60px auto 0;
    }
    #hero-image {
      grid-area: hero;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    #content {
      grid-area: main;
      width: 450px;
      margin: 30px auto;
      text-align: left;
      h1 {
        font-size: 3.8rem;
        width: 50%;
        padding: 0;
        margin-bottom: 30px;
      }
      p {
        font-size: 1rem;
        line-height: 1.5;
      }
      .email {
        .btn {
          width: 100px;
        }

        &.error {
          &::after {
            right: 105px;
          }
        }
      }
    }
  }
}
